<div class="container px-4 my-5">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <h3 class="card-body">Product</h3>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/product/all">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <h3 class="card-body"> Category</h3>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/category/all">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <h3 class="card-body">Orders</h3>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/product/all">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <h3 class="card-body">Authentication</h3>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/admin/all">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>




    <!-- <h1 class="visually-hidden">Sidebars examples</h1> -->

    <!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <arouterLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="/bootstrap" />
        </svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <arouterLink="/" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/home" />
                </svg>
                Home
            </a>
        </li>
        <li>
            <arouterLink="/" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/speedometer2" />
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <arouterLink="/" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/table" />
                </svg>
                Orders
            </a>
        </li>
        <li>
            <arouterLink="/" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/grid" />
                </svg>
                Products
            </a>
        </li>
        <li>
            <arouterLink="/" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="/people-circle" />
                </svg>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <arouterLink="/" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item"routerLink="/">New project...</a></li>
            <li><a class="dropdown-item"routerLink="/">Settings</a></li>
            <li><a class="dropdown-item"routerLink="/">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item"routerLink="/">Sign out</a></li>
        </ul>
    </div>
</div> -->