<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{productObj.name}}</div>
                <h1 class="display-5 fw-bolder">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$oldpricre</span>
                    <span>${{productObj.price}}</span>
                </div>
                <p class="lead">
                    {{productObj.details}}
                </p>
                <div>
                    <li>color:&nbsp; {{productObj.specification[0]?.color}}</li>
                    <li> material: &nbsp;{{productObj.specification[0]?.material}}</li>
                    <li> model:&nbsp;{{productObj.specification[0]?.model}}</li>
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" *ngIf="data.adminislogin||data.userislogin"
                        (click)="handleAddtoCart(productObj._id)  ">
                        <!-- actionMethod($event); -->
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>